@use "theme";

nav {
  //position:fixed;
  //top:10px;
  //left:10px;
  //right:10px;
  //border-radius: 20px;
  height: 80px;
  //z-index:1000;
  background: #1F2937;

  div {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
      height: 60px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

//mat-list-item {
//  outline: none;
//}


mat-nav-list {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: auto;

  span,
  a {
    //font-size: large;
    color: theme.$white;
    transition: 0.3s;
    width: auto;


    &:hover {
      transform: scale(1.2);
    }
  }
}
