<div class="background-image">
  <img [src]="'assets/images/background.png'" alt="Background">
</div>
<span class="title">Bienvenu sur Sports Quiz !</span>
<span class="secondTitle">Sur quel sport veux-tu tester tes connaissances?</span>
<div class="quiz-container">
  <div
    class="quiz-card"
    *ngFor="let quiz of quizzes"
    (click)="openQuiz(quiz)"
    [ngStyle]="{
      'border-left': '6px solid ',
    }"
    (mouseenter)="hoverState[quiz.quizId] = true"
    (mouseleave)="hoverState[quiz.quizId] = false"
  >
    <div class="quiz-content">
      <img class="quiz-image" [src]="'assets/images/' + quiz.type + '.jpg'" alt="Quiz image">
      <div class="quiz-info">
        <h3>{{ quiz.title }}</h3>
        <p>{{ quiz.description }}</p>
      </div>
    </div>
  </div>
</div>






