//.background-video {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//  z-index: -1; /* Derrière tout le reste */
//  background-color: black;
//}
//
//.background-video video {
//  width: 100%;
//  height: 100%;
//  object-fit: cover; /* Remplit l’écran sans déformer */
//  /* filter: brightness(0.5);  assombrit légèrement pour que le texte soit lisible */
//}



.background-image{
  position: fixed;
  background-size: cover;/* L'image couvre tout l'espace */
  //background-color: #151515;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit l’écran sans déformer */
  //filter: brightness(0.5);
}

:host {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 25px;
  z-index: -1;
  flex-direction: column;
  //background-color: #F6F4F1;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: clamp(1.8rem, 4.8vw, 3.8rem);
  /* font-size: 4em; */
  font-weight: 700;
  margin: 30px 0;
  text-align: center; /* Centre le texte */
}

.secondTitle {
  font-family: Oswald, sans-serif;
  font-size: clamp(1.25rem, 3vw, 2rem); /* Taille responsive */
  /* font-size: 2em; */
  font-weight: 400;
  margin: 30px 0;
  text-align: center; /* Centre le texte */
}

.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  //max-width: 500px;
  //margin: 0 auto;
  //background: rgba(255, 255, 255, 0.15); /* semi-transparent */
  //border: 1px solid rgba(255, 255, 255, 0.3);
  //border-radius: 12px;
  //backdrop-filter: blur(10px);
  //-webkit-backdrop-filter: blur(10px);
  //color: white;
  //font-size: 1.2em;
  //font-weight: 600;
  ///* padding: 12px 28px; */
  //cursor: pointer;
  //transition: all 0.3s ease;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.quiz-card {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  border-left: 6px solid;
  height: 105px;
}

.quiz-card:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.25);
}


//
//.quiz-card {
//  display: flex;
//  align-items: center;
//  background: white;
//  border-radius: 12px;
//  padding-left: 12px;
//  padding-right: 100px;
//  cursor: pointer;
//  transition: all 0.3s ease;
//  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//  border-left: 6px solid;
//  height: 105px;
//}
//
//.quiz-card:hover {
//  transform: translateY(-2px);
//}

.quiz-content {
  display: flex;
  align-items: center;
}

.quiz-image {
  width: 90px; /* Image légèrement plus petite */
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 16px;
}

.quiz-info {
  flex: 1;
  text-align: left;
}

.quiz-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #2c3e50;
}

.quiz-info p {
  margin: 4px 0 0;
  color: #7f8c8d;
  font-size: 0.95em;
}
