.background-image{
  position: fixed;
  background-size: cover;/* L'image couvre tout l'espace */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit l’écran sans déformer */
}

:host {

  display: flex;
  align-content: center;
  align-items: center;
  padding: 25px;
  z-index: -1;
  flex-direction: column;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: clamp(1.8rem, 4.8vw, 3.8rem);
  font-weight: 700;
  margin: 30px 0;
  text-align: center; /* Centre le texte */
}

.secondTitle {
  font-family: Oswald, sans-serif;
  font-size: clamp(1.25rem, 3vw, 2rem); /* Taille responsive */
  font-weight: 400;
  margin: 30px 0;
  text-align: center; /* Centre le texte */
}

.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.quiz-card {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  border-left: 6px solid;
  height: 105px;
}

.quiz-card:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.25);
}

.quiz-content {
  display: flex;
  align-items: center;
}

.quiz-image {
  width: 90px; /* Image légèrement plus petite */
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 16px;
}

.quiz-info {
  flex: 1;
  text-align: left;
}

.quiz-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #2c3e50;
}

.quiz-info p {
  margin: 4px 0 0;
  color: #7f8c8d;
  font-size: 0.95em;
}
